.CurrentEvent {
  grid-row: 1/3;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

h1 {
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

h1:first-child {
  font-size: 3rem;
}

h1:nth-child(2) {
  border-radius: 0 0 10px 10px;
}