.App {
  height: 90%;
  width: 90%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr 9fr;
  gap: 50px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.App>div, .App>ul {
  border-radius: 10px;
}