.EventListItem {
  transition: all 0.5s ease;
  position: relative;
  border: 1px solid grey;
  display: grid;
  background-size: cover;
  grid-template-columns: 9fr 1fr;
  height: 10%;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: azure;
}

.btn-dngr:hover, .btn-select:hover {
  cursor: pointer;
}

.btn-dngr {
  color: white;
  background-color: red;
  border: none;
  border-radius: 0 10px 10px 0;
}

.btn-select {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
}